 body
{
    margin: 0;
}

p
{
    font-size: 10rem;

    margin: 0;

    text-align: center;

    color: #f8630e;
}

.bigbox
{
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #fff;
}

.box
{
    float: left;
    overflow: hidden;

    width: 32%;
    margin: 1% 0 1% 1%;
    padding: 32% 0 0 0;

    border-radius: 5%;
    background-color: #f8630e;
}

.Beginbutton
{
    clear: both;

    margin: 2% auto 0;
    padding: 10%;

    border: thin solid #f8630e;
    border-radius: 5%;
    background-color: #fff;
}

.Endbutton
{
    margin: 2% auto;
    padding: 10%;

    border: thin solid #f8630e;
    border-radius: 5%;
    background-color: #fff;
}
